.team-list {
  width: 70vw;
  padding: 1rem;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-key-1;
    padding: 8px 0;

    &__title {
      margin: 10px 0;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        color: $color-accent;
      }
    }
  }
}
