.layout-page {
  min-height: 100vh;
  display: flex;

  &__aside {
    position: fixed;
    height: 100vh;
    z-index: 1;
    display: flex;
  }

  &__main {
    flex: 1;
    margin-left: $sidebar-width;
    padding: $padding-md;
  }
}
