.project-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__date-inputs {
    display: flex;
    gap: 1rem;
  }

  &__button {
    color: #fff;
    background-color: $color-accent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

    &:hover {
      opacity: $mouseover-opacity;
    }
  }
}

.board-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}
