.team-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-detail {
  width: 60vw;
  max-width: 700px;
  min-width: 30vw;
  padding: 20px;

  &__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
  }

  &__accordion {
    border-top: 1px solid $color-key-1;

    &-item {
      border-bottom: 1px solid $color-key-1;
      &-opened-content {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        transition: background 0.3s;

        &:hover {
          background: $color-key-1;
        }
      }
    }
  }

  &__icon {
    font-size: 20px;
    color: $color-primary;
  }

  .team-invite {
    margin-left: 5px;

    &-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-wrap: nowrap;
    }

    input {
      width: 100%;
      max-width: 25rem;
      min-width: 20rem;
    }

    button {
      min-width: 5rem;
      white-space: nowrap;
      margin-bottom: 5px;
    }
  }

  .team-leave button {
    margin: 10px 0 10px 5px;
    background-color: $color-key-3;
    color: $color-error;
  }
}
