.button {
  @include mixins.button();
  width: auto;

  &--primary {
    background-color: $color-tertiary;
  }

  &--accent {
    background-color: $color-accent;
  }

  &--disabled {
    background-color: $color-secondary;
    cursor: not-allowed;
  }

  &--full {
    width: 100%;
  }

  &:not(&--disabled):hover {
    opacity: $mouseover-opacity;
  }
}
