.button--primary {
  @include mixins.button($color-main);
  &:hover {
    opacity: $mouseover-opacity;
  }
}

.button--cancel {
  @include mixins.button($color-tertiary);
  &:hover {
    opacity: $mouseover-opacity;
  }
}

.button--disabled {
  @include mixins.button($color-secondary);
  cursor: not-allowed;
}
