.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;

  &__label {
    @include mixins.text-style(1rem, $color-primary, 600);
    margin-bottom: $padding-xs;
  }

  &__input {
    padding: $padding-xs;
    background-color: $color-background;
    border: 1px solid $color-secondary;
    border-radius: $border-radius-xs;
  }

  &__helptext {
    @include mixins.text-style(0.875rem, $color-error);
    position: absolute;
    bottom: -1rem;
  }
}
