.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  max-width: 60%;
  background-color: $color-section;
  border-radius: $border-radius-md;
  box-shadow: $shadow;
  padding: $padding-md;

  @include mixins.respond-to(sm) {
    max-width: 90%;
  }

  @include mixins.respond-to(lg) {
    max-width: 70%;
  }

  &__header {
    margin-bottom: 1rem;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 0.5rem;
  }
}
