.profile-modal {
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  @include mixins.respond-to(lg) {
    flex-direction: column;
    gap: 1rem;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: relative;
  width: 16rem;
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__button {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: #fff;
    background-color: $color-primary;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &__preview {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 0.4rem solid $color-primary;
  }

  &__input {
    display: none;
  }
}

.info {
  display: flex;
  flex-direction: column;

  &__field {
    padding: 0.2rem 0;
  }
}
