.image-container {
  position: relative;

  &__icon {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: #fff;
    background-color: $color-primary;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.image {
  width: 12rem;
  height: 12rem;
  border: 0.4rem solid $color-primary;
  border-radius: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;

  &__preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__input {
    display: none;
  }
}
