.sidebar {
  width: 100%;

  &__subtitle {
    color: $color-secondary;
    font-size: 0.875rem;
    margin-bottom: 0.875rem;
  }

  &__menu {
    &--empty {
      color: $color-secondary;
      text-align: center;
      padding-bottom: 1rem;
    }
  }
}

.header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__img {
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;

    &--nickname {
      font-weight: 600;
    }

    &--email {
      color: $color-tertiary;
      font-size: 0.875rem;
      line-height: 1rem;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
