.list {
  margin-bottom: 1.5rem;
}

.menu {
  color: $color-tertiary;
  font-size: 1.25rem;
  display: flex;
  gap: 0.2rem;

  &__item {
    display: flex;
    align-items: center;
  }
}

.menu:hover {
  opacity: $mouseover-opacity;
}
