@use './variables' as *;

// 반응형 레이아웃
@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}.";
  }
}

// 텍스트
@mixin text-style($font-size, $color, $font-weight: normal) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

// 버튼
@mixin button($bg-color) {
  background-color: $bg-color;
  padding: $padding-sm $padding-md;
  border-radius: $border-radius-md;
  color: #fff;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
}

// 카드
@mixin card {
  background-color: $color-section;
  border-radius: $border-radius-md;
  padding: $padding-md;
  box-shadow: $shadow;
}
