@use './variables' as *;

// 반응형 레이아웃
@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}.";
  }
}

// 텍스트
@mixin text-style($font-size, $color, $font-weight: normal) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 버튼
@mixin button {
  padding: $padding-xs $padding-md;
  border-radius: $border-radius-sm;
  color: #fff;
  font-size: 0.875rem;
}

// 섹션
@mixin section($width: 100%, $height: auto) {
  width: $width;
  background-color: $color-section;
  border-radius: $border-radius-md;
  padding: $padding-md;
  box-shadow: $shadow;
}

// 애니메이션
@mixin translate-animation($direction: top, $max-height: 200px, $duration: 0.3s) {
  max-height: 0;
  opacity: 0;
  visibility: hidden;

  @if $direction == 'top' {
    transform: translateY(-1rem);
  } @else if $direction == 'bottom' {
    transform: translateY(1rem);
  } @else if $direction == 'left' {
    transform: translateX(-1rem);
  } @else if $direction == 'right' {
    transform: translateX(1rem);
  }

  transition:
    opacity $duration ease,
    transform $duration ease,
    max-height $duration ease,
    visibility $duration ease;

  &--show {
    opacity: 1;
    transform: translate(0, 0);
    max-height: $max-height;
    visibility: visible;
  }
}
